@font-face {
    font-family: Norse-Bold;
    src: url('./fonts/Norse-Bold.otf');
    font-weight: normal;
    font-style: normal;
  }





.header-place{
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 60px 330px 20px 60px;
  
}
.submit-btn{
  background-color: #f0f0f0;
  padding: 40px 50px;
  
  height: 100%;
}
.login{
  padding-top: 30px;
}
.main-form{
  padding: 10px 60px 50px 50px;
}
button{
  background-color: #596D48;
  font-weight: bold;
  color: white;
  height: 40px;
  width: 180px;
  border: 2px solid #596D48;
  border-radius: 8px;
  padding: 4px 8px;

}
.sign-form{
  background-color: white;
  
  
}

.right-side{
  background-color: #f0f0f0;
  flex: 1.7;
  
}


body{
    font-family: Arial, Helvetica, sans-serif;
    
    

}
.main{
  display: flex;
  height: 100vh;
  padding: 0 140px;
  background-color: black;
}
.left-side{
  flex: 1;
}

.left-side{
    position: relative;

}

.my-bg{
    position: absolute;
    width: 31vw; 
    height: 100vh; 
    object-fit: cover; 
   
    
}

.logo{
  position: absolute;
  display: flex;
  top: 370px; 
  padding-left: 38%;
  background-color: rgba(5, 0, 0, 0.4); 
  border-radius: 8px; 
  
}
.credit {
  position: absolute;
  bottom: 10px;
  left: 35%;
  color: #ffffff; 
  padding: 5px;
  font-size: 14px; 
}


.creditCreator{
  color: white;
  font-weight: lighter;
  text-decoration: underline;

}
 .logo-image{
  width: 130px; 
  height: 150px;
 }

 #logo-text{
  padding: 25px 84px 1px 0;
  font-family: Norse-Bold;
  color: white;
  font-size: 100px;
  

 }

.login{
  font-size: 14px;
}

a{
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

form{

  display: flex;

}

.left-form{
  padding-right: 80px;
}
.phone-form, .email-form, .lastname-form, .firstname-form{
  padding-bottom: 20px;
}

input{
  height: 25px;
  border-radius: 5px;
  border: 2px solid #E5E7EB;
}

input:focus{
  box-shadow: 1px 1px 2px;
  outline-color: #1d83f8;
  
}

label{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;

}